gym-super-mario-bros
sewar

numpy
opencv-python
Pillow

tensorflow
h5py
tensorflow_hub
# torch
# torchvision
# torchaudio
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability